* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.container {
  background-color: rgb(186, 73, 73);
  min-height: 100vh;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  font-family: 'Quicksand', sans-serif;

}

.container * {
  margin: 5px;
}

nav {
  display: flex;
}

.logo{
  height: 25px;
}

.display {
  background-color:  rgba(255, 255, 255, 0.377);
}